.b-mainPageSliderWrap {
  padding: 30px;
  background-color:  #f2f2f2;
  margin: 0 -15px;

  &_bottomBorder {
    border-bottom: 1px solid #000;
  }

  &__slider {
    padding: 10px;
    background-color: #fff;
  }
}