.b-projectItem {
  text-align: center;

  &:nth-child(n+3){
    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }

  &__img {
    height: 160px;
    width: 100%;

    @include media-breakpoint-down(sm) {
      height: auto;
    }
  }

  &__head {
    color: #444444;
    font-size: 20px;
    text-align: left;
    margin: 20px 0;
  }

  &__desc {
    color:  #878787;
    text-align: justify;
  }

  &__details {
    text-align: right;
    display: block;
    font-size: 16px;
    color: $major-color;
    transition: .5s;

    &:hover {
      color: #000;
    }
  }
}