.b-siteSearch {
  height: 30px;
  background-color:  #ffffff;

  &__field {
    border: none;
    padding: 0 10px;
    outline: none;
    height: inherit;
    color: #7f7f7f;
    transition: .5s;

    &:focus {
      background: lighten($major-color, 50%);
    }

    &_left {
      float: left;
    }
  }

  &__btn {
    background-color: #fff;
    border: none;
    height: inherit;
    font-size: 12px;
    color: $major-color;
    transition: .5s;
    border-left: 1px solid #7f7f7f;

    &:hover {
      cursor: pointer;
      background-color: #7f7f7f;
      color: #fff;
    }
  }
}