.b-social-menu {
  width: fit-content;
}

.b-social-menu_item {
  display: inline-block;
  list-style-type: none;
}

.b-social-menu_link {
  display: block;
  color: #fff;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}


@import "theme-default";
@import "right";